<VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/opt/dockerhub/{{ ansible_fqdn }}.crt"
        SSLCertificateKeyFile "/opt/dockerhub/{{ ansible_fqdn }}.key"

        SSLCompression off 
        SSLProtocol all -SSLv2 -SSLv2 -SSLv3 -TLSv1

        SSLCipherSuite EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLHonorCipherOrder on

        ProxyPass "/" "http://localhost:5000/"
        ProxyPassReverse "/" "http://localhost:5000/"

        <Location /docker>
                AuthName "Docker Registry Authentication"
                AuthType basic
                AuthUserFile "/opt/dockerhub/registry.htpasswd"
                Require valid-user
        </Location>
</VirtualHost>
